.clearf {
  clear: both;
}
.clearf:after,
.clearf:before {
  content: " ";
  display: table;
  clear: both;
}
.sizing-border {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.sizing-content {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -o-box-sizing: content-box;
}
.multicl_bar {
  background: -webkit-linear-gradient(left, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
  background: -moz-linear-gradient(left, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
  background: -o-linear-gradient(left, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
  background: linear-gradient(left, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
}
.mgb-10 {
  margin-bottom: 10px;
}
.mgb-15 {
  margin-bottom: 15px;
}
.mgb-20 {
  margin-bottom: 20px;
}
.mgb-25 {
  margin-bottom: 25px;
}
body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
a {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#top_head {
  background: #5ebed6;
  color: #fff;
  padding: 3px 0;
}
#top_head a {
  color: #fff;
}
#top_head .site_text {
  margin-right: 10px;
}
#top_head .phone {
  font-weight: 600;
  color: #ffbf37;
}
.nice_bd_2 {
  height: 2px;
  background: -webkit-linear-gradient(left, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
  background: -moz-linear-gradient(left, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
  background: -o-linear-gradient(left, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
  background: linear-gradient(left, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
}
.socials i {
  font-size: 1rem;
  width: 20px;
  height: 20px;
  padding: 3px 4px;
  margin-left: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.icon-fb {
  background: #3b5998;
}
.i-fb {
  color: #3b5998;
}
.icon-gplus {
  background: #dd4b39;
}
.i-gplus {
  color: #dd4b39;
}
.icon-yt {
  background: #bb0000;
}
.i-yt {
  color: #bb0000;
}
.icon-tw {
  background: #00aced;
}
.i-tw {
  color: #00aced;
}
#topmenu {
  background: #fff;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}
#topmenu ul.nav li a {
  color: #373a42;
  font-size: 1.1rem;
  font-weight: 600;
}
#topmenu ul.nav li a:hover,
#topmenu ul.nav .active a,
#topmenu ul.nav li a:focus {
  color: #5ebed6;
}
#topmenu ul.nav .dropdown-menu {
  top: calc(100% + 10px);
  border-top: 3px solid #5d95db;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  min-width: 100%;
}
#topmenu ul.nav .dropdown-menu li a {
  font-weight: 400;
  padding: 7px 15px;
  white-space: nowrap;
  background: #fff;
}
#topmenu .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
#topmenu .navbar-brand img {
  height: 100%;
  width: auto;
}
#topmenu .navbar-toggle {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border: 0;
  background: #006379;
  border: 1px solid #fff;
}
.slider .slide a {
  background-size: cover!important;
  height: calc(100vh - 101px);
  display: block;
}
.slider_box .bx-wrapper .bx-pager {
  bottom: 20px;
}
.slider_box .bx-wrapper .bx-pager a {
  height: 17px;
  width: 17px;
  border: 2px solid #fff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
}
.slider_box .bx-wrapper {
  margin-bottom: 0;
}
body:not(.home):not(.page-template-album-page) #main_body {
  background: #faf9f5;
  padding-top: 20px;
}
.single-title {
  font-size: 1.7rem;
  margin-top: 0;
  margin-bottom: 0.8rem;
  padding-bottom: 12px;
  border-bottom: 1px solid #e9e6e0;
}
.box-title {
  color: #5d95db;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 1.7rem;
}
.bd_title {
  border-bottom: 1px solid #e1ded5;
  padding-bottom: 5px;
}
.bd_title span {
  display: inline-block;
  position: relative;
}
.bd_title span:after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  background: -webkit-linear-gradient(left, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
  background: -moz-linear-gradient(left, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
  background: -o-linear-gradient(left, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
  background: linear-gradient(left, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
  height: 3px;
}
.album_page .single-title {
  font-size: 1.42rem;
  color: #5d95db;
}
.album_page .album_posts {
  margin-left: -10px;
  margin-right: -10px;
}
.pagebox {
  margin-bottom: 1.75rem;
}
.wrap {
  margin-bottom: 1.4rem;
  background: #fff;
  padding: 15px;
  border: 1px solid #e9e6e0;
}
.wrap .box-title,
.wrap .bar-title {
  font-size: 1.2rem;
  margin: 0 0 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e6e0;
}
.wrap .bar-title {
  padding: 4px 0 14px;
  font-size: 1.3rem;
}
.wrap_box {
  margin-bottom: 1.4rem;
}
.meta_box {
  margin-bottom: 0.8rem;
  color: #ffbf37;
}
.searchform .input-group input,
.searchform .input-group .btn {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
}
.searchform .input-group input {
  font-size: 1rem;
}
.posts .thumb img {
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}
.posts .title,
.posts .title a {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #333;
}
.posts .title:hover,
.posts .title a:hover {
  color: #5d95db;
}
.posts .meta_desc {
  color: #ffbf37;
  font-size: 0.92rem;
  margin-bottom: 5px;
}
.posts .first-post {
  margin-bottom: 20px;
}
.row_posts .post {
  background: #f4f4f4;
  margin-bottom: 20px;
}
.row_posts .post .thumb iframe {
  margin: 0;
  padding: 0;
}
.row_posts .title {
  margin-top: 0;
}
.row_posts .title a {
  color: #006379;
  font-weight: 600;
}
.row_posts .post_desc .inner {
  padding: 12px 0;
  color: #000;
}
.grid_posts .inner {
  background: #fff;
  display: block;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border: 1px solid #e9e6e0;
  min-height: 289px;
}
.grid_posts .thumb {
  overflow: hidden;
  text-align: center;
}
.grid_posts .thumb img,
.grid_posts .thumb a {
  max-width: 100%;
  height: auto;
  display: inline-block;
  transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}
.grid_posts .title,
.grid_posts .title a {
  margin: 0;
  margin-bottom: 8px;
  font-size: 1.3rem;
}
.grid_posts .post_body {
  padding: 10px;
}
.grid_posts .post {
  margin-bottom: 20px;
}
.media_posts .inner {
  display: block;
}
.media_posts .post {
  display: block;
  margin-bottom: 13.5px;
}
.media_posts .post:hover .title {
  color: #5d95db;
}
.media_posts .thumb {
  width: 80px;
}
.media_posts .thumb img {
  width: 100%;
  height: auto;
}
.media_posts .excerpt {
  color: #333;
}
.media_posts .title {
  margin-top: 0;
  color: #000;
}
.lg-title {
  font-size: 1.9rem;
}
.service_posts .inner {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  min-height: 225px;
  border: none;
  padding: 10px;
  color: #fff;
}
.service_posts .inner:hover .thumb img {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.service_posts .thumb {
  margin: 0.8rem 0 1rem 0;
  overflow: visible;
}
.service_posts .thumb img {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
}
.service_posts .post_body {
  background: transparent;
  padding: 0;
}
.service_posts .title,
.service_posts .title a {
  font-size: 1.4rem;
  color: #fff;
}
.service_posts .title:hover,
.service_posts .title a:hover {
  color: #333;
}
.album_box {
  background: url(../images/heart-pattern.png) repeat;
  padding-bottom: 10px;
}
.album_posts {
  margin-left: 20px;
  margin-right: 20px;
}
.album_posts .inner {
  position: relative;
  border: none;
  min-height: 1px;
}
.album_posts .inner:hover .title {
  opacity: 1;
}
.album_posts .title {
  transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}
.album_posts .title .center {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  display: inline-block;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.album_posts .title .txt {
  font-size: 1.2rem;
  color: #5d95db;
  display: block;
}
.album_posts .title .date {
  font-size: 0.93rem;
  color: #ffbf37;
}
.video_posts .thumb .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #e62117;
  font-size: 2.5rem;
}
.entry_content .video_embed iframe {
  width: 100%!important;
  height: 100%!important;
}
.icon_box i {
  color: #5d95db;
  min-width: 20px;
}
.icon_box a {
  color: #333;
}
.icon_box i,
.icon_box a {
  font-size: 1.1rem;
}
.phone_box a,
.phone_box i {
  font-weight: 700;
  color: #ffbf37;
  font-size: 1.3rem;
}
.food_box {
  padding: 20px 0;
  background: #f4f2ec;
  border-top: 1px solid #e1ded5;
  border-bottom: 1px solid #e1ded5;
}
.food_posts .post .thumb a,
.food_posts .post .thumb img {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.food_posts .inner:hover .thumb img {
  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
}
.archive_box .media_posts .thumb {
  width: 30%;
}
.paginate {
  text-align: right;
  margin-bottom: 30px;
}
.paginate a,
.paginate span {
  padding: 5px 8px;
  border: 1px solid #ccc;
  font-weight: 600;
}
.paginate .current {
  background: #006379;
  color: #fff;
}
.entry_content,
.tax_desc {
  margin: 20px 0;
  line-height: 1.72rem;
}
.entry_content p,
.tax_desc p,
.entry_content div,
.tax_desc div,
.entry_content iframe,
.tax_desc iframe,
.entry_content img,
.tax_desc img,
.entry_content figure,
.tax_desc figure {
  max-width: 100%!important;
  height: auto!important;
}
.entry_content img,
.tax_desc img {
  margin: 10px auto;
  display: block;
}
.meta_col {
  width: 100px;
  margin-right: 5px;
}
.date_box {
  text-align: center;
  transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  margin-bottom: 25px;
}
.date_box span {
  display: block;
}
.date_box .month {
  font-size: 1.4rem;
  background: #ff0033;
  color: #fff;
  line-height: 2.1rem;
  border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-border-top-right-radius: 10px;
}
.date_box .day {
  font-size: 3.4rem;
  background: #f4f4f4;
  line-height: 3.57rem;
}
.date_box .year {
  font-size: 1.1rem;
  background: #f4f4f4;
  line-height: 1.7rem;
}
.share_box {
  text-align: center;
}
.share_box a {
  display: block;
  font-size: 2.8rem;
  margin-bottom: 8px;
}
.meta_box .share_box {
  display: inline-block;
  margin: 0 10px;
}
.meta_box .share_box a {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 5px;
  font-size: 2rem;
}
.blog_posts .thumb_box img {
  width: 100%;
}
.blog_posts .post .title,
.blog_posts .post .title a {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 1.3rem;
  color: #5d95db;
}
.thumb_box img,
.single_thumb img {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}
.list_tags a {
  padding: 3px 5px;
  background: rgba(0, 0, 0, 0.2);
  color: #333;
  display: inline-block;
  margin-bottom: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.list_tags a:hover {
  background: #5d95db;
  color: #fff;
}
#popup_hepler {
  padding: 5px 5px 0;
  z-index: 2007;
  position: fixed;
  bottom: 0;
  right: 3px;
  background: #003333;
  color: #fff;
  border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-border-top-right-radius: 10px;
  width: 165px;
}
#popup_hepler .hclose {
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-weight: 600;
  padding: 1px 6px;
  position: absolute;
  top: -25px;
  right: 0;
}
#popup_hepler .avatar {
  width: 86.25px;
  height: 86.25px;
  overflow: hidden;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  background: #fff;
  padding: 7px;
  position: relative;
}
#popup_hepler .avatar img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#popup_hepler .name {
  padding-top: 5px;
  display: inline-block;
  line-height: 25px;
  white-space: normal;
}
#popup_hepler .hotline {
  margin-top: 5px;
  text-align: center;
}
#popup_hepler .hotline a {
  font-size: 24px;
  font-weight: 600;
}
#backtop {
  position: fixed;
  bottom: 20%;
  right: 1px;
}
.banner_sp {
  height: 70px;
  background: url(../images/banner.jpg) no-repeat center;
  background-size: cover;
}
.info_box li {
  padding: 3px 0;
}
.info_box i {
  min-width: 17px;
  margin-right: 3px;
}
.gg_map iframe {
  width: 100%!important;
  height: 280px!important;
}
footer {
  color: #fff;
  padding: 35px 0;
  background: #322e2c;
}
footer .box-title {
  margin-top: 0;
  color: #fff;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #5d95db;
}
footer .phone {
  font-size: 1.3rem;
  color: #ff6633;
  font-weight: 600;
}
footer ul li {
  padding: 5px 0;
}
footer ul i {
  min-width: 17px;
  margin-right: 3px;
}
footer .footer_menu li a {
  font-size: 1.1rem;
}
footer .footer_menu li a:before {
  content: "\f105";
  font-family: FontAwesome;
  margin-right: 5px;
}
.end_ft {
  background: #5ebed6;
  padding: 10px 0;
  color: #fff;
}
.end_ft a {
  color: #ffbf37;
  font-weight: 600;
}
/*# sourceMappingURL=main.css.map */