@bodybg: #e7e7e7;
@menubg: #fff;
@menucl: rgb(55, 58, 66);
@menuhv: rgb(94, 190, 214);
@boxcl: #5d95db;
@maincl: #333;
@mainbd: #006379;
@mainbg: #01596c;
@wrapcl: #fff;
@hovercl: #5d95db;
@rowbg: #f4f4f4;
@metacl: #ffbf37;
.rgbamain(@opacity){
    background: rgba(94, 190, 214, @opacity);
}

.clearf{
    clear: both;
    &:after, &:before{
        content: " ";
        display: table;
        clear: both;
    }
}
.rotate(@dg){
    transform: rotate(@dg);
    -moz-transform: rotate(@dg);
    -webkit-transform: rotate(@dg);
    -o-transform: rotate(@dg);
}
.sizing-border{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.sizing-content{
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -o-box-sizing: content-box;
}
.transform(@trans){
    transform:  @trans;
    -moz-transform:  @trans;
    -webkit-transform:  @trans;
    -o-transform:  @trans;
}
.border-radius(@radius){
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    -o-border-radius: @radius;
}
.top-left-radius(@radius){
    border-top-left-radius: @radius;
    -moz-border-top-left-radius: @radius;
    -webkit-border-top-left-radius: @radius;
    -o-border-top-left-radius: @radius;
}
.bottom-left-radius(@radius){
    border-bottom-left-radius: @radius;
    -moz-border-bottom-left-radius: @radius;
    -webkit-border-bottom-left-radius: @radius;
    -o-border-bottom-left-radius: @radius;
}
.bottom-right-radius(@radius){
    border-bottom-right-radius: @radius;
    -moz-border-bottom-right-radius: @radius;
    -webkit-border-bottom-right-radius: @radius;
    -o-border-bottom-right-radius: @radius;
}
.top-right-radius(@radius){
    border-top-right-radius: @radius;
    -moz-border-top-right-radius: @radius;
    -webkit-border-top-right-radius: @radius;
    -o-border-border-top-right-radius: @radius;
}

.button(@padding:8px 15px, @color: #fff, @background: #f4f4f4, @radius:0){
    padding: @padding;
    color: @color;
    background: @background;
    .border-radius(@radius);
    border: none;
    &:hover{background: #00cc33;}
}
.shadown(@shadown){
    box-shadow: @shadown;
    -moz-box-shadow: @shadown;
    -webkit-box-shadow: @shadown;
    -o-box-shadow: @shadown;
}
.transi(@transi){
    transition: @transi;
    -moz-transition: @transi;
    -webkit-transition: @transi;
    -o-transition: @transi;
}
.trans(@trans){
    transform: @trans;
    -moz-transform: @trans;
    -webkit-transform: @trans;
    -o-transform: @trans;
}

.multicl_bar{
    background: -webkit-linear-gradient(left, #f76570 0%,#f76570 8%,#f3a46b 8%,#f3a46b 16%,#f3a46b 16%,#ffd205 16%,#ffd205 24%,#ffd205 24%,#1bbc9b 24%,#1bbc9b 25%,#1bbc9b 32%,#14b9d5 32%,#14b9d5 40%,#c377e4 40%,#c377e4 48%,#f76570 48%,#f76570 56%,#f3a46b 56%,#f3a46b 64%,#ffd205 64%,#ffd205 72%,#1bbc9b 72%,#1bbc9b 80%,#14b9d5 80%,#14b9d5 80%,#14b9d5 89%,#c377e4 89%,#c377e4 100%);
    background: -moz-linear-gradient(left, #f76570 0%,#f76570 8%,#f3a46b 8%,#f3a46b 16%,#f3a46b 16%,#ffd205 16%,#ffd205 24%,#ffd205 24%,#1bbc9b 24%,#1bbc9b 25%,#1bbc9b 32%,#14b9d5 32%,#14b9d5 40%,#c377e4 40%,#c377e4 48%,#f76570 48%,#f76570 56%,#f3a46b 56%,#f3a46b 64%,#ffd205 64%,#ffd205 72%,#1bbc9b 72%,#1bbc9b 80%,#14b9d5 80%,#14b9d5 80%,#14b9d5 89%,#c377e4 89%,#c377e4 100%);
    background: -o-linear-gradient(left, #f76570 0%,#f76570 8%,#f3a46b 8%,#f3a46b 16%,#f3a46b 16%,#ffd205 16%,#ffd205 24%,#ffd205 24%,#1bbc9b 24%,#1bbc9b 25%,#1bbc9b 32%,#14b9d5 32%,#14b9d5 40%,#c377e4 40%,#c377e4 48%,#f76570 48%,#f76570 56%,#f3a46b 56%,#f3a46b 64%,#ffd205 64%,#ffd205 72%,#1bbc9b 72%,#1bbc9b 80%,#14b9d5 80%,#14b9d5 80%,#14b9d5 89%,#c377e4 89%,#c377e4 100%);
    background: linear-gradient(left, #f76570 0%,#f76570 8%,#f3a46b 8%,#f3a46b 16%,#f3a46b 16%,#ffd205 16%,#ffd205 24%,#ffd205 24%,#1bbc9b 24%,#1bbc9b 25%,#1bbc9b 32%,#14b9d5 32%,#14b9d5 40%,#c377e4 40%,#c377e4 48%,#f76570 48%,#f76570 56%,#f3a46b 56%,#f3a46b 64%,#ffd205 64%,#ffd205 72%,#1bbc9b 72%,#1bbc9b 80%,#14b9d5 80%,#14b9d5 80%,#14b9d5 89%,#c377e4 89%,#c377e4 100%);
}

.mgb-10{margin-bottom: 10px;}
.mgb-15{margin-bottom: 15px;}
.mgb-20{margin-bottom: 20px;}
.mgb-25{margin-bottom: 25px;}



